.navbar--logo {
  width: 50px;
  height: 50px;
  /* margin-left: 20px; */
}

.navbar--logo--container {
  display: flex;
  margin-top: 0;
  align-items: center;
}

.navbar--brand {
  margin-bottom: 0;
  margin-left: 10px;
  font-weight: 600;
}

.navbar--container {
  display: flex;
  padding: 10px 20px;
}

.navbar--light {
  background-color: white;
  color: black;
}

.navbar--dark {
  color: white;
  background-color: #121212;
}

.navbar--options--container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar--options--common {
  margin: 0 10px;
  font-size: 15px;
}

.toggle--container {
  display: flex;
  justify-content: right;
}

.main--container {
  padding: 10px 20px;
}

.main--light {
  background-color: #dddddd;
  color: black;
}

.main--dark {
  background-color: #2B2B2B;
  color: white;
}

.dark--two {
  background-color: #121212;
  color: white;
}

.dark--one {
  background-color: #2B2B2B;
  color: white;
}

.dark--zero {
  background-color: #423F3E;
  color: white;
}

.light--two {
  background-color: white;
  color: black;
}

.light--one {
  background-color: #CFD2CF;
  color: black;
}

.light--zero {
  background-color: #A2B5BB;
  color: black;
}

.card--container {
  display: flex;
  justify-content: space-around;
  padding: 90px 0;
}

.card--container::before {
  content: "";
}

.card--container::after {
  content: "";
}

.footer--container {
  text-align: center;
}

.footer--dark {
  box-shadow: 0 50vh 0 50vh #121212;
}

.brand-icon {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.brand-icon:hover {
  text-decoration: none;
}

.about--container {
  margin: 20px;
  float: left;
  width: 95%;
  padding: 40px;
  height: 90%;
  line-height: 2;
  box-shadow: 0 10px 20px grey;
}

.link--class {
  text-decoration: none;
}

.contact--container {
  padding: 30px;
}

.icon--dark {
  color: white;
}

.icon--light {
  color: #121212;
}