.square {
    height: 20px;
    width: 20px;
    background-color: white;
    border-color: black;
    border: solid;
    margin: 0.5px;
  }

  .start--icon{
    font-size: 15px;
    text-align: center;
    margin: 0;
  }